@charset "UTF-8";


.menu-item-checked >span {
	cursor: pointer;
}
.menu-item:hover >span {
    background: linear-gradient(to top, #FFFF92 40%, #FAFAFA 60%);
    color: #202020;
    pointer-events: none;
}

.boookcard-view-box, .bookcard-view-info>button{
	cursor: pointer;
}

.quickmenu{
	position: absolute;
	top: 15rem;
	right: calc(50% - 72rem);
    z-index: 20;
	
}
.quickmenu-title{
    width: 10rem;
    min-height: 2.4rem;
    background-color: rgb(35,122,246);
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
    line-height: 4rem;
}

.quickmenu-contianer{
	height: 50rem;
	background-color: var(--white);
}
.quickmenu_btn{
	border-style: none;
    background-color: rgb(35,122,246);
    line-height: 0rem;
}	
.quickmenu_btn>img{
	width: 1.7rem;	
}	
.quickmenu_d_flex{
	display: flex;
	justify-content: center;
}
.side-close-icon{
	position: absolute;
    height: 2rem;
    width: 2rem;
    top: 1.5rem;
    left: 6.5rem;
}	
.not_item{
	color: #616161;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}	
.more_info{
	position: absolute;
    top: 1.1rem;
    height: 8rem;
    width: 17rem;
    right: 8.6rem;
    color: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    background-color: white;
    padding: 1rem;
}
.more_info_none{
	display: none;
}

.boookcard-view-box>a:hover .more_info_none {
	display: block;
}

	